<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="DefaultDatabase"
        connectionString="Data Source=DESKTOP-L4FQOMO\SQLEXPRESS;Initial Catalog=ITSSolutions;Persist Security Info=True;User ID=sa;Password=6898782juan--"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>