<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TSI.Data.Properties.Settings.ITSSolutionsConnectionString"
        connectionString="Data Source=DESKTOP-L4FQOMO\SQLEXPRESS;Initial Catalog=ITSSolutions;Persist Security Info=True;User ID=sa;Password=6898782juan--"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>